.destination-items {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.item {
  max-width: 312px;
  margin: 0 auto;
}

.item header .img-item {
  width: 312px;
  height: 360px;

  margin-bottom: 24px;
}
.tokyo {
  background-image: url("../images/tokyo-mobile.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.osaka {
  background-image: url("../images/osaka-mobile.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.item header h3 {
  margin-bottom: 24px;
}
.item p {
  margin-bottom: 24px;
}

.item footer .button {
  width: 100%;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .item {
    max-width: 648px;
  }

  .item header .img-item {
    width: 648px;
    height: 425px;

    margin-bottom: 24px;
  }

  .tokyo {
    background-image: url("../images/tokyo-tablet-desk.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }

  .osaka {
    background-image: url("../images/osaka-tablet-desk.jpg");
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .item {
    max-width: 588px;
    margin: 0;
  }

  .item header .img-item {
    width: 100%;
    height: 452px;
  }

  .item footer .button {
    width: 280px;
  }
}
