.list-links a.active {
  text-decoration: underline;
}

.hero-img.pacotes {
  height: 460px;
  background-image: url("../images/hero-conheca-o-japao-mobile.jpg");
  background-size: cover;
  background-position: center;

  padding: 65px 24px;

  color: var(--text-secondary-color);
}

.hero-text-content {
  max-width: 312px;
}

.title-hero.pacotes {
  font-size: 48px;
  font-weight: var(--titles-weight);
  margin-bottom: 16px;
}
.hero-img.pacotes hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);

  border: none;
  margin-bottom: 32px;
}
.hero-img.pacotes p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}
/*---------------------------------------------------------------------------*/
.price.pagina-pacotes {
  font-size: 40px;
  font-weight: var(--titles-weight);
}

.button.pagina-pacotes {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.images.casa {
  height: 254px;
  background-image: url(../images/casa-japao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
}
.images.cidade {
  height: 254px;
  background-image: url(../images/cidade-japao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
}
.images.pessoa {
  grid-column: span 2;

  height: 182px;
  background-image: url(../images/pessoa-roupa-branca.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /*background-position: center bottom;*/
}

.image-footer.pagina-pacotes {
  background-image: url(../images/image-footer-pacotes-mobile.jpg);
}

@media screen and (min-width: 768px) {
  .hero-img.pacotes {
    height: 620px;

    padding: 210px 69px 108px 120px;
  }

  .hero-text-content {
    max-width: 580px;
  }

  .hero-img.pacotes p {
    font-size: 32px;
    line-height: 150%;
  }

  .button.pagina-pacotes {
    display: none;
  }

  .images.casa {
    background-image: url(../images/casa-japao-tablet.jpg);
  }
  .images.cidade {
    background-image: url(../images/cidade-japao-tablet.jpg);
  }
  .images.pessoa {
    background-image: url(../images/pessoa-roupa-branca-tablet.jpg);
    background-position: center bottom;
  }

  .image-footer.pagina-pacotes {
    background-image: url(../images/image-footer-pacotes-tablet.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .hero-img.pacotes {
    padding: 210px 300px 108px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img.pacotes {
    background-image: url("../images/banner-hero-conheca-o-japao-desk.jpg");

    padding: 158px 740px 158px 120px;
  }

  .content-section.pagina-pacotes {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
