.search-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.search-cards a {
  width: 312px;
  height: 220px;
  border-radius: 16px;
  background-color: var(--background-secondary-color);

  padding: 41px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 24px;

  color: var(--text-primary-color);
}

.search-cards a img {
  width: auto;
  height: auto;
}

.search-cards a .text-card {
  font-size: 28px;
  font-weight: var(--titles-weight);
}

@media screen and (min-width: 768px) {
  .search-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .search-cards {
    max-width: 680px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .search-cards {
    max-width: none;
  }

  .search-cards a {
    width: 280px;
    border-radius: 8px;
    padding: 24px 16px;
  }
}
